*.pyc
.settings
.cache
*.coverage
*~
private_settings.py
build
docs/_build
docs/web_build
dist
htmlcov
bin/
lib/
distribute*
share/
*.sqlite
database.db
*.swp
.DS_store
*coverage.xml
.idea
__pycache__
.idea