{% load movie_tag %}
<header class="header">
<div class="container-fluid px-lg-5">
    <!-- nav -->
    <nav class="py-4">
        <div id="logo">
            <h1> <a href="{% url 'main' %}" class="editContent" style=" outline-offset: -2px; font-size: 40px; font-family: &quot;Source Sans Pro&quot;, sans-serif;">MovieGid</a></h1>
        </div>

        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop">
        <ul class="menu mt-2">
            <li class="active"><a href="{% url 'main' %}">Главная</a></li>
            <li>
                <!-- First Tier Drop Down -->
                <label for="drop-2" class="toggle">Категории <span class="fa fa-angle-down" aria-hidden="true" ></span> </label>
                <a href="#">Категории<span name="Category" class="fa fa-angle-down" aria-hidden="true"></span></a>
                <input type="checkbox" id="drop-2">
                <ul>
                    {% for category in view.get_category %}
                        <li class="editContent">
                            <a href="/category/?category={{category.id}}" name="category">
                            <span class="span editContent">{{ category.name }}</span></a>
                        </li>
                    {% endfor %}

                    <!--Либо используем как фильтр (вариант 2) -->
                    <!-- <form action="{% url 'category' %}" method="get" name="filter">
                        {% for category in view.get_category %}
                            <li class="editContent">
                                <input type="checkbox" name="category" value="{{ category.id }}">

                                <a><span class="span editContent">{{ category.name }}</span></a>
                            </li>
                        {% endfor %}
                        <button type="submit" class="btn btn-dark mb-5 mt-3"><span style="color: #FF8C00;">Найти</span></button>
                    </form>  -->
                </ul>
            </li>
            <li>
                {% if user.is_authenticated %}
                    <span style="color: #FF8C00; font-weight: 400;">{{ user.username }}</span>
                    <a href="{% url 'account_logout' %}"
                        style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                    Выход
                    </a>
                {% else %}
                    <a href="{% url 'account_login' %}"
                        style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                    Вход
                    </a>
                    <a href="{% url 'account_signup' %}"
                        style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                    Регистрация
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
    <!-- //nav -->
</div>
</header>
<!-- //header -->
<!--/banner-->
<div class="banner-info">
<p class="editContent" style="color: #FF8C00;">Краткий обзор фильмов, без коментариев</p>
<h3 class="mb-4 editContent">Короткая версия фильма</h3>
<div class="ban-buttons">


    </div>
</div>
<!--// banner-inner -->


